.signinForm {
    margin: 5rem auto;
    padding: 2rem;
    height: fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: var(--primary-border);
    border-radius: 1em;
    font-size: 1.5rem;
    font-weight: 600;
    > .header {
        font-size: 2rem;
        font-weight: 600;
        padding: 1rem;
    }
    > .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        .formInput {
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5em;
            border: var(--primary-border);
            background-color: inherit;
            color: inherit;
        }
        > .formSubmitButton {
            width: fit-content;
            padding: 0.5rem 1rem;
            border-radius: 0.5em;
            border: var(--primary-border);
        }
    }
    .signupLink {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--primary-link-color);
        text-decoration: underline;
        font-style: italic;
    }
}


